body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:685px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:338px;
  top:35px;
  width:100px;
  height:60px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  color:#CC99CC;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u0_ref {
  position:absolute;
  left:430px;
  top:85px;
  width:1px;
  height:1px;
}
#u2 {
  position:absolute;
  left:90px;
  top:115px;
  width:100px;
  height:60px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  color:#CC99CC;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3 {
  position:absolute;
  left:2px;
  top:3px;
  width:96px;
  word-wrap:break-word;
}
#u2_ref {
  position:absolute;
  left:182px;
  top:165px;
  width:1px;
  height:1px;
}
#u4 {
  position:absolute;
  left:35px;
  top:195px;
  width:100px;
  height:60px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  color:#CC99CC;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u5 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u4_ref {
  position:absolute;
  left:127px;
  top:245px;
  width:1px;
  height:1px;
}
#u6 {
  position:absolute;
  left:145px;
  top:195px;
  width:100px;
  height:60px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  color:#CC99CC;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u6_ref {
  position:absolute;
  left:237px;
  top:245px;
  width:1px;
  height:1px;
}
#u8 {
  position:absolute;
  left:310px;
  top:115px;
  width:100px;
  height:60px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  color:#CC99CC;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u8_ref {
  position:absolute;
  left:402px;
  top:165px;
  width:1px;
  height:1px;
}
#u10 {
  position:absolute;
  left:255px;
  top:195px;
  width:100px;
  height:60px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  color:#CC99CC;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u11 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u10_ref {
  position:absolute;
  left:347px;
  top:245px;
  width:1px;
  height:1px;
}
#u12 {
  position:absolute;
  left:365px;
  top:195px;
  width:100px;
  height:60px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  color:#CC99CC;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u13 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u12_ref {
  position:absolute;
  left:457px;
  top:245px;
  width:1px;
  height:1px;
}
#u14 {
  position:absolute;
  left:475px;
  top:115px;
  width:100px;
  height:60px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  color:#CC99CC;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u15 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u14_ref {
  position:absolute;
  left:567px;
  top:165px;
  width:1px;
  height:1px;
}
#u16 {
  position:absolute;
  left:585px;
  top:115px;
  width:100px;
  height:60px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  color:#CC99CC;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u17 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u16_ref {
  position:absolute;
  left:677px;
  top:165px;
  width:1px;
  height:1px;
}
#u18 {
  position:absolute;
  left:388px;
  top:95px;
  width:-248px;
  height:20px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  color:#CC99CC;
}
#u18_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:24px;
}
#u18_seg1 {
  position:absolute;
  left:-258px;
  top:0px;
  width:268px;
  height:20px;
}
#u18_seg2 {
  position:absolute;
  left:-258px;
  top:0px;
  width:20px;
  height:24px;
}
#u19 {
  position:absolute;
  left:-174px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:140px;
  top:175px;
  width:-55px;
  height:20px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  color:#CC99CC;
}
#u20_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:24px;
}
#u20_seg1 {
  position:absolute;
  left:-65px;
  top:0px;
  width:75px;
  height:20px;
}
#u20_seg2 {
  position:absolute;
  left:-65px;
  top:0px;
  width:20px;
  height:24px;
}
#u21 {
  position:absolute;
  left:-78px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:140px;
  top:175px;
  width:55px;
  height:20px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  color:#CC99CC;
}
#u22_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:24px;
}
#u22_seg1 {
  position:absolute;
  left:-10px;
  top:0px;
  width:75px;
  height:20px;
}
#u22_seg2 {
  position:absolute;
  left:45px;
  top:0px;
  width:20px;
  height:24px;
}
#u23 {
  position:absolute;
  left:-22px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:388px;
  top:95px;
  width:-28px;
  height:20px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  color:#CC99CC;
}
#u24_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:24px;
}
#u24_seg1 {
  position:absolute;
  left:-38px;
  top:0px;
  width:48px;
  height:20px;
}
#u24_seg2 {
  position:absolute;
  left:-38px;
  top:0px;
  width:20px;
  height:24px;
}
#u25 {
  position:absolute;
  left:-64px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:360px;
  top:175px;
  width:-55px;
  height:20px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  color:#CC99CC;
}
#u26_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:24px;
}
#u26_seg1 {
  position:absolute;
  left:-65px;
  top:0px;
  width:75px;
  height:20px;
}
#u26_seg2 {
  position:absolute;
  left:-65px;
  top:0px;
  width:20px;
  height:24px;
}
#u27 {
  position:absolute;
  left:-78px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:360px;
  top:175px;
  width:55px;
  height:20px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  color:#CC99CC;
}
#u28_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:24px;
}
#u28_seg1 {
  position:absolute;
  left:-10px;
  top:0px;
  width:75px;
  height:20px;
}
#u28_seg2 {
  position:absolute;
  left:45px;
  top:0px;
  width:20px;
  height:24px;
}
#u29 {
  position:absolute;
  left:-22px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:388px;
  top:95px;
  width:137px;
  height:20px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  color:#CC99CC;
}
#u30_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:24px;
}
#u30_seg1 {
  position:absolute;
  left:-10px;
  top:0px;
  width:157px;
  height:20px;
}
#u30_seg2 {
  position:absolute;
  left:127px;
  top:0px;
  width:20px;
  height:24px;
}
#u31 {
  position:absolute;
  left:18px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:388px;
  top:95px;
  width:247px;
  height:20px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  color:#CC99CC;
}
#u32_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:24px;
}
#u32_seg1 {
  position:absolute;
  left:-10px;
  top:0px;
  width:267px;
  height:20px;
}
#u32_seg2 {
  position:absolute;
  left:237px;
  top:0px;
  width:20px;
  height:24px;
}
#u33 {
  position:absolute;
  left:74px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
